.idea/
.vscode
.env
.env.production
.DS_Store
.thumbs.db
node_modules
*db.sqlite3-journal
venv
__pycache__
staticfiles/
images/
tmp/
mses/
*.tar.gz
.service-config.sample.*.json
build-info-*.txt

sitemap.xml
sitemaps/
robots.txt

# Quasar core related directories
.quasar

front/.vscode/settings.json

front/quasar-project/dist.bak
front/quasar-project/dist.new

shell/python
